.batch-upload-container {
  .upload-form {
    display: flex;
    flex-direction: column; /* Keeps form elements column-oriented */
    align-items: center;

    h2 {
      margin-bottom: 1rem;
    }

    .button-group {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px; /* Adds space between elements in the row */
      width: 100%;

      .file-input {
        flex: 1;
        // text-sm;
        // text-gray-900;
        border: 1px solid #ccc;
        border-radius: 0.375rem;
        background-color: white;
        cursor: pointer;
        padding: 0.5rem;
        background-color: #fff;
        width: 60%;
      }

      .download-template-button {
        margin-left: 10px;
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 0.375rem;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }

  .notification-popup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
  }
}
