<div class="register-container">
  <div class="register-content">
    <div class="register-left">
      <img src="assets/images/register-illustration.png" alt="Register Illustration">
    </div>
    <div class="register-right">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-signin register-form">
        <h2 class="txt-color-mg">Sign Up</h2>

        <div class="form-group" *ngIf="selectedCategory !== 'Individual'">
          <input type="text" id="fullName" formControlName="fullName" class="form-control" placeholder="Full Name">
          <div *ngIf="registrationForm.controls['fullName'].invalid && (registrationForm.controls['fullName'].dirty || registrationForm.controls['fullName'].touched)" class="txt-error">
            Full Name is required.
          </div>
        </div>

        <div class="form-group">
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email or phone number">
          <div *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)">
            <div *ngIf="registrationForm.controls['email'].errors?.['required']" class="txt-error">
              Email is required.
            </div>
            <div *ngIf="registrationForm.controls['email'].errors?.['email']" class="txt-error">
              Email must be a valid email address.
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" id="address" formControlName="address" class="form-control" placeholder="Address">
          <div *ngIf="registrationForm.controls['address'].invalid && (registrationForm.controls['address'].dirty || registrationForm.controls['address'].touched)" class="txt-error">
            Address is required.
          </div>
        </div>

        <div class="form-group">
          <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="Phone number">
          <div *ngIf="registrationForm.controls['phoneNumber'].invalid && (registrationForm.controls['phoneNumber'].dirty || registrationForm.controls['phoneNumber'].touched)" class="txt-error">
            Phone number is required.
          </div>
        </div>

        <div class="form-group" *ngIf="selectedCategory !== 'Individual'">
          <input type="text" id="brn" formControlName="brn" class="form-control" placeholder="BRN">
        </div>

        <div class="form-group">
          <input type="text" id="tin" formControlName="tin" class="form-control" placeholder="TIN">
        </div>

        <div class="form-group">
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
          <div *ngIf="registrationForm.controls['password'].invalid && (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched)">
            <div *ngIf="registrationForm.controls['password'].errors?.['required']" class="txt-error">
              Password is required.
            </div>
            <div *ngIf="registrationForm.controls['password'].errors?.['minlength']" class="txt-error">
              Password must be at least 8 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
          <div *ngIf="registrationForm.controls['confirmPassword'].invalid && (registrationForm.controls['confirmPassword'].dirty || registrationForm.controls['confirmPassword'].touched)">
            <div *ngIf="registrationForm.controls['confirmPassword'].errors?.['required']" class="txt-error">
              Confirm Password is required.
            </div>
            <div *ngIf="registrationForm.controls['confirmPassword'].errors?.['minlength']" class="txt-error">
              Confirm Password must be at least 8 characters long.
            </div>
            <div *ngIf="registrationForm.controls['confirmPassword'].errors?.['matchingPasswords']" class="txt-error">
              Passwords do not match.
            </div>
          </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block mt-2 right-corner" [disabled]="!registrationForm.valid" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>
