<div class="min-h-screen flex items-center justify-center bg-gray-50">
  <div class="form-container">
    <!-- Page Header -->
    <h1 class="page-header">Transfer Gadget</h1>

    <!-- Form Section -->
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
      <!-- Search Bar and Button -->
      <div class="search-bar-container">
        <div class="search-bar-wrapper">
          <input 
            type="text" 
            placeholder="Search" 
            class="search-bar" 
            (input)="onSearchInput($event)" 
            [(ngModel)]="searchQuery"
            name="searchQuery"
          />

          <!-- Dropdown for search results -->
          <ul *ngIf="showGadgetList && gadgetList.length > 0" class="dropdown">
            <li *ngFor="let gadget of gadgetList" (click)="selectGadget(gadget)">
              {{ gadget.model }} - {{ gadget.serialNumber }}
            </li>
          </ul>
        </div>

        <button type="button" class="action-button" (click)="navigateToBatchTransfer()">Batch Transfer</button>

      </div>

      <!-- Form Fields -->
      <table class="form-table">
        <tbody>
          <!-- Gadget Information -->
          <tr>
            <td>
              <input type="text" formControlName="gadgetType" id="gadgetType" placeholder="Gadget Type" required />
            </td>
            <td>
              <input type="text" formControlName="gadgetModel" id="model" placeholder="Gadget Model" required />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" formControlName="imei" id="imei" placeholder="IMEI" />
            </td>
            <td>
              <input type="text" formControlName="serialNumber" id="serialNumber" placeholder="Serial Number" required />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" formControlName="ownerId" id="ownerId" placeholder="Owner's ID" [attr.disabled]="true" />
            </td>
            <td>
              <input type="tel" formControlName="phoneNumber" id="phoneNumber" placeholder="Owner's Number" [attr.disabled]="true" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" formControlName="storage" id="storageSize" placeholder="Storage" required />
            </td>
            <td>
              <input type="text" formControlName="transferDetails" id="transferDetails" placeholder="Transfer Details" required />
            </td>
          </tr>
          <tr>
            <td>
              <input 
                type="text" 
                formControlName="transferTo" 
                id="transferTo" 
                placeholder="Transfer To (TIN/BRN)" 
                required 
              />
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Submit Button -->
      <div class="submit-container">
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>
  </div>
</div>

<!-- Success Notification -->
<div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" *ngIf="notificationVisible && notificationType === 'success'" role="alert">
  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
      </svg>
      <span class="sr-only">Check icon</span>
  </div>
  <div class="ms-3 text-sm font-normal">{{ notificationMessage }}</div>
  <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" (click)="closeNotification()" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
  </button>
</div>

<!-- Error Notification -->
<div id="toast-danger" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" *ngIf="notificationVisible && notificationType === 'error'" role="alert">
  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
      </svg>
      <span class="sr-only">Error icon</span>
  </div>
  <div class="ms-3 text-sm font-normal">{{ notificationMessage }}</div>
  <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" (click)="closeNotification()" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
  </button>
</div>

<!-- Warning Notification -->
<div id="toast-warning" class="flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" *ngIf="notificationVisible && notificationType === 'warning'" role="alert">
  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200">
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
      </svg>
      <span class="sr-only">Warning icon</span>
  </div>
  <div class="ms-3 text-sm font-normal">{{ notificationMessage }}</div>
  <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" (click)="closeNotification()" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
  </button>
</div>