<div class="report-gadget-container">
    <div class="search-container">
      <input type="text" placeholder="Search gadget" class="search-bar"/>
    </div>
    <form class="report-gadget-form">
      <div class="form-title">Report Gadget</div>
      <div class="form-grid">
        <div class="form-group">
          <label>Gadget name</label>
          <input type="text" />
        </div>
        <div class="form-group">
          <label>Date last seen</label>
          <input type="date" />
        </div>
        <div class="form-group">
          <label>Gadget Identifier</label>
          <input type="text" />
        </div>
        <div class="form-group">
          <label>Location last seen</label>
          <input type="text" />
        </div>
        <div class="form-group">
          <label>Gadget brand</label>
          <input type="text" />
        </div>
        <div class="form-group">
          <label>Contact information</label>
          <input type="text" />
        </div>
        <div class="form-group">
          <label>Gadget color</label>
          <input type="text" />
        </div>
        <div class="form-group">
          <label>Person Reporting</label>
          <input type="text" />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea></textarea>
        </div>
        <div class="form-group">
          <label>Report Date</label>
          <input type="date" />
        </div>
        <div class="form-group">
          <label>Comments</label>
          <textarea></textarea>
        </div>
      </div>
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
  