<div class="table-container">
  <h2>View Gadgets</h2>
  <div class="search-container">
    <input type="text" placeholder="Search gadgets..." [(ngModel)]="searchQuery">
  </div>
  <table class="gadgets-table">
    <thead>
      <tr>
        <th>Model</th>
        <th>Type of Gadget</th>
        <th>S/N</th>
        <th>IMEI</th>
        <th>Storage</th>
        <th>RAM</th>
        <th>Color</th>
        <th>Registration Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gadget of filteredGadgets()">
        <td>{{ gadget.model }}</td>
        <td>{{ gadget.type }}</td>
        <td>{{ gadget.serialNumber }}</td>
        <td>{{ gadget.imei }}</td>
        <td>{{ gadget.storageSize }}</td>
        <td>{{ gadget.ram }}</td>
        <td>{{ gadget.color }}</td>
        <td>{{ gadget.registrationDate | date }}</td>
        <td>
          <div class="action-buttons">
            <button class="action-button edit-button"><i class="fas fa-edit"></i></button>
            <button class="action-button delete-button"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
