<div class="dashboard-container">
  <div class="main-content">
    <div class="form-container">
      <h2>Select Gadget</h2>
      <div class="tabs">
        <button class="tab-button" [ngClass]="{'active': selectedTab === 'laptop'}" (click)="selectTab('laptop')">Laptop</button>
        <button class="tab-button" [ngClass]="{'active': selectedTab === 'phone'}" (click)="selectTab('phone')">Phone</button>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group" *ngIf="selectedTab === 'laptop'">
          <mdb-form-control>
            <input mdbInput type="text" formControlName="model" id="modelLaptop" class="form-control" placeholder="Model">
            <label mdbLabel class="form-label" for="modelLaptop">Model</label>
          </mdb-form-control>
          <mdb-form-control>
            <input mdbInput type="text" formControlName="phoneNumber" id="deviceIDLaptop" class="form-control" placeholder="Device ID">
            <label mdbLabel class="form-label" for="deviceIDLaptop">Device ID</label>
          </mdb-form-control>
        </div>
        <div class="form-group" *ngIf="selectedTab === 'phone'">
          <mdb-form-control>
            <input mdbInput type="text" formControlName="model" id="modelPhone" class="form-control" placeholder="Model">
            <label mdbLabel class="form-label" for="modelPhone">Model</label>
          </mdb-form-control>
          <mdb-form-control>
            <input mdbInput type="text" formControlName="imei" id="imeiPhone" class="form-control" placeholder="IMEI">
            <label mdbLabel class="form-label" for="imeiPhone">IMEI</label>
          </mdb-form-control>
        </div>
        <div class="form-group">
          <mdb-form-control>
            <input mdbInput type="text" formControlName="brand" id="brand" class="form-control" placeholder="Brand">
            <label mdbLabel class="form-label" for="brand">Brand</label>
          </mdb-form-control>
          <mdb-form-control>
            <input mdbInput type="text" formControlName="serialNumber" id="serialNumber" class="form-control" placeholder="Serial Number">
            <label mdbLabel class="form-label" for="serialNumber">Serial Number</label>
          </mdb-form-control>
        </div>
        <div class="form-group">
          <mdb-form-control>
            <input mdbInput type="text" formControlName="color" id="color" class="form-control" placeholder="Color">
            <label mdbLabel class="form-label" for="color">Color</label>
          </mdb-form-control>
          <mdb-form-control>
            <input mdbInput type="text" formControlName="description" id="description" class="form-control" placeholder="Description">
            <label mdbLabel class="form-label" for="description">Description</label>
          </mdb-form-control>
        </div>
        <div class="form-group">
          <mdb-form-control>
            <input mdbInput type="text" formControlName="purchaseLocation" id="purchaseLocation" class="form-control" placeholder="Purchase Location">
            <label mdbLabel class="form-label" for="purchaseLocation">Purchase Location</label>
          </mdb-form-control>
          <mdb-form-control>
            <input mdbInput type="date" formControlName="registrationDate" id="registrationDate" class="form-control">
            <label mdbLabel class="form-label" for="registrationDate">Date of Registration</label>
          </mdb-form-control>
        </div>
        <div class="form-group" *ngIf="selectedTab === 'laptop'">
          <mdb-form-control>
            <input mdbInput type="text" formControlName="storageSize" id="storageSize" class="form-control" placeholder="Storage Size">
            <label mdbLabel class="form-label" for="storageSize">Storage Size</label>
          </mdb-form-control>
          <mdb-form-control>
            <input mdbInput type="text" formControlName="simType" id="simTypeLaptop" class="form-control" placeholder="RAM">
            <label mdbLabel class="form-label" for="simTypeLaptop">RAM</label>
          </mdb-form-control>
        </div>
        <div class="form-group" *ngIf="selectedTab === 'phone'">
          <mdb-form-control>
            <input mdbInput type="text" formControlName="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number">
            <label mdbLabel class="form-label" for="phoneNumber">Phone Number</label>
          </mdb-form-control>
          <mdb-form-control>
            <input mdbInput type="text" formControlName="network" id="network" class="form-control" placeholder="Sim Type">
            <label mdbLabel class="form-label" for="network">Sim Type</label>
          </mdb-form-control>
        </div>
        <div class="form-group buttons">
          <div class="upload-container">
            <input type="file" (change)="onFileChange($event)" accept=".csv" id="csvFileInput" style="display: none;">
            <label for="csvFileInput" class="upload-csv-button">
              <img src="assets/upload.svg" alt="Upload Icon"> Upload CSV
            </label>
          </div>
          <button type="submit" class="register-button">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Notification Popup -->
<div class="notification-popup" *ngIf="notificationVisible">
  <p>{{ notificationMessage }}</p>
</div>
