html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  display: flex;
  height: 90vh;
  width: 900px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width:  100%;
}

h2 {
  margin-bottom: 20px;
}

.gadget-button {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 8px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group input {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.upload-csv-button,
.register-button {
  background-color: #A69CAC;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

.upload-csv-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 8px;
}
