html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* Light gray background */
}

.dashboard-container {
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    height: 78vh;
  }
}

.main-content {
  border-radius: 8px;
  padding: 20px;
  max-width: 900px;
  width: 100%;
  background: transparent; /* White background for the main content */
  box-shadow: transparent; /* Added box shadow for better separation */
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.tabs {
  display: block; /* Enable flexbox layout */
  justify-content: space-around;
  margin-bottom: 20px;
  margin-left: 20px;
}

.tab-button {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0px; /* Rounded corners for tabs */
  width: 48%;
  text-align: center;
  // margin-left: 10px;
}

.tab-button.active {
  background-color: #4b2e83;
  color: #ffffff;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-group input {
  width: calc(50% - 10px);
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:nth-child(even) {
  margin-right: 0; /* Remove right margin for even inputs */
}

.form-group.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-csv-button,
.register-button {
  background-color: #A69CAC;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.upload-csv-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#toast-success, #toast-danger, #toast-warning {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px);
  max-width: 400px;
  color: black;
}

#toast-success {
  background-color: #38a169;
}

#toast-danger {
  background-color: #e53e3e;
}

#toast-warning {
  background-color: #dd6b20;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}
