<div class="dashboard-container">
  <div class="main-content">
    <div class="form-container">
      <h2>Select Gadget</h2>
      <div class="tabs">
        <button class="tab-button" [ngClass]="{'active': selectedTab === 'laptop'}" (click)="selectTab('laptop')">Laptop</button>
        <button class="tab-button" [ngClass]="{'active': selectedTab === 'phone'}" (click)="selectTab('phone')">Phone</button>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group" *ngIf="selectedTab === 'laptop'">
          <input type="text" formControlName="model" placeholder="Model">
          <input type="text" formControlName="phoneNumber" placeholder="Device ID">
        </div>
        <div class="form-group" *ngIf="selectedTab === 'phone'">
          <input type="text" formControlName="model" placeholder="Model">
          <input type="text" formControlName="imei" placeholder="IMEI">
        </div>
        <!-- <div class="form-group">
          <input type="text" formControlName="model" placeholder="Model">
          <input type="text" formControlName="imei" placeholder="IMEI">
        </div> -->
        <div class="form-group">
          <input type="text" formControlName="brand" placeholder="Brand">
          <input type="text" formControlName="serialNumber" placeholder="Serial Number">
        </div>
        <div class="form-group">
          <input type="text" formControlName="color" placeholder="Color">
          <input type="text" formControlName="description" placeholder="Description">
        </div>
        <div class="form-group">
          <input type="text" formControlName="purchaseLocation" placeholder="Purchase location">
          <input type="date" formControlName="registrationDate" placeholder="Date of registration">
        </div>
        <div class="form-group" *ngIf="selectedTab === 'laptop'">
          <input type="text" formControlName="storageSize" placeholder="Storage size">
          <input type="text" formControlName="simType" placeholder="RAM">
        </div>
        <div class="form-group" *ngIf="selectedTab === 'phone'">
          <input type="text" formControlName="phoneNumber" placeholder="Phone number">
          <input type="text" formControlName="network" placeholder="Sim Type">
        </div>
        <div class="form-group buttons">
          <div class="upload-container">
            <input type="file" (change)="onFileChange($event)" accept=".csv" id="csvFileInput" style="display: none;">
            <label for="csvFileInput" class="upload-csv-button">
              <img src="assets/upload.svg" alt="Upload Icon"> Upload CSV
            </label>
          </div>
          <button type="submit" class="register-button">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Notification Popup -->
<div class="notification-popup" *ngIf="notificationVisible">
  <p>{{ notificationMessage }}</p>
</div>
